@tailwind base;
@tailwind components;
@tailwind utilities;

@react-spring /konva
@react-spring/native
@react-spring/three
@react-spring/web
@react-spring/zdog

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  max-width: 100%;
}

.custom-img_crane_light_blue {
  background-image: url('../public/images/mobile/crane_light_blue.jpg');
}

.custom-inner_bottom_shadow {
  box-shadow: 0 0 8vmin 2vmin #5a5a5a;
}

.custom-fade {
  animation-fill-mode: both;
  animation-duration: 10s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

#aspiring-fade {
  animation-name: fade-aspiring;
}

#architect-fade {
  animation-name: fade-architect;
}

#civil-fade {
  animation-name: fade-civie;
}

#student-fade {
  animation-name: fade-student;
}

@keyframes fade-aspiring {
  10%,
  56% {
    opacity: 1;
  }
  0%,
  66%,
  100% {
    opacity: 0;
  }
}

@keyframes fade-architect {
  10%,
  23% {
    opacity: 1;
  }
  0%,
  33%,
  100% {
    opacity: 0;
  }
}

@keyframes fade-civie {
  0%,
  33%,
  66%,
  100% {
    opacity: 0;
  }
  56%,
  43% {
    opacity: 1;
  }
}

@keyframes fade-student {
  0%,
  66%,
  100% {
    opacity: 0;
  }
  76%,
  90% {
    opacity: 1;
  }
}

.custom-manilla-header {
  display: inline-block;
  padding: 0 2rem 0 2.5rem;
  margin: 0 0 -0.25rem -1.25rem;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  font-size: 7vmin;
  line-height: 1;
  border-top-right-radius: 9999px;
  background: #ffecd0;
}

.custom-manilla-header:hover {
  transform: scale(0.9);
}

.custom-manilla-folder {
  background-image: linear-gradient(#ffecd0, #e2caad);
  padding: 2rem 0 4rem 0;
}

.custom-folder-header {
  width: 50vmin;
  float: right;
  padding: 1vmin 3vmin 1vmin 3vmin;
  margin: -7vmin 0 0 0;
  border-top-left-radius: 9999px;
}

.custom-folder-header:hover {
  transform: scale(0.9);
  margin-right: -3vmin;
}

.custom-folder-folder {
  height: 100%;
  padding-top: 3vmin;
}

.custom-folder-paper {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 24px;
  position: relative;
  width: 90%;
  height: 90%;
  z-index: 5;
}
.custom-folder-paper:before,
.custom-folder-paper:after {
  content: '';
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.custom-folder-paper:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5vmax);
}
.custom-folder-paper:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

.custom-light-shadow {
  -moz-box-shadow: 0 0 10vw #000;
  -webkit-box-shadow: 0 0 10vw #000;
  box-shadow: 0px 0px 10vw #000;
}

.custom-rainbow-shadow:before {
  content: '';
  background: linear-gradient(0deg, #9884ea, #ffffff);
  /* background: linear-gradient(45deg, #F0F8F0, #F0FFF0, #FFF0F0, #D8BFD0); */
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  filter: blur(10vw);

  animation-name: border-glow;
  animation-fill-mode: both;
  animation-duration: 4s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes border-glow {
  0,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


.custom-degree-shine {
  position: absolute;
  background: white;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  opacity: 70%;
  top: 40%;
  height: 10vmin;
  width: 86vmin;
  rotate: -45deg;
  left: 0;
  z-index: 1;
  animation: slideIn 2s forwards;
  animation-iteration-count: infinite;
  overflow-x: hidden;
}
@keyframes slideIn {
  0% {
    transform: translateX(-80vmax) translateY(-80vmax);
  }
  100% {
    transform: translateX(80vmax) translateY(80vmax);
  }
}
